form(name="login", action="/user/login", method="post")
    div
        label(for="user") UserName:
        input(type="text", name="user")
    div
        label(for="pass") Password:
        input(type="password", name="pass")
    
    input(type="submit", value="login")